# Basic Pandas
Hint: some method needed to solve these exercises have not been introduced so far. Follow the hints and use the ***pandas*** documentation.

In [91]:
#check if notebook runs in colab
import sys
IN_COLAB = 'google.colab' in sys.modules
print('running in Colab:',IN_COLAB)
path='..'
if IN_COLAB:
  #in colab, we need to clone the data from the repo
  !git clone https://github.com/keuperj/DataScienceSS20.git
  path='DataScienceSS20'

running in Colab: False


### Step 1. Import the necessary libraries

In [92]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches 
import numpy as np

### Step 2.
Use ***Jupyter lab*** to browse the data file in ``path+"/DATA/u.user.csv"``. What does this data set represent?

### Step 3. Read the CSV data into a pandas DataFrame. Assign it to a variable called users and use the 'user_id' as index

In [93]:
data = pd.read_csv(path+'/DATA/u.user.csv')
print(data)
users=data['user_id']
print(users)

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]
0        1
1        2
2        3
3        4
4        5
      ...
938    939
939    940
940    941
941    942
942    943
Name: user_id, Length: 943, dtype: int64

### Step 4. Print the first 25 entries

In [94]:
data['user_id'].head(10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: user_id, dtype: int64

### Step 5. Print the last 10 entries

In [95]:
data['user_id'].tail(10)

933    934
934    935
935    936
936    937
937    938
938    939
939    940
940    941
941    942
942    943
Name: user_id, dtype: int64

### Step 6. What is the number of observations in the dataset?

In [96]:
len(data)

943

### Step 7. What is the number of columns in the dataset?

In [97]:
np.shape(data)[1] #shape gibt (Zeilen,Spalten) mit [1] erhalte ich gleich spalten
np.shape(data.columns)

(5,)

### Step 8. Print the name of all the columns.

In [98]:
print(data[0:5])
print(data.columns)
x=data.columns[0:2] #mit klammer kann man bestimmte Spalten Ã¼berschiften nehmen
print(x)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213
Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')
Index(['user_id', 'age'], dtype='object')

### Step 9. How is the dataset indexed?

In [99]:
data.index

RangeIndex(start=0, stop=943, step=1)

### Step 10. What is the data type of each column?
Hint: this works like in NumPy

In [100]:
data.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

In [101]:
data['occupation']

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

### Step 12. How many different occupations there are in this dataset? 
Hint: try the ``nunique()`` function.

In [102]:
data['occupation'].nunique()

21

### Step 13. What is the most frequent occupation?
Hint: ``value_counts()``

In [103]:
data['occupation'].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

### Step 14. Summarize the DataFrame.

In [104]:
data.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

### Step 15. Summarize all the columns

### Step 16. Summarize only the occupation column

### Step 17. What is the mean age of users?

In [105]:
data['age'].mean()

34.05196182396607

### Step 18. What is the age with least occurrence?

In [1]:
values=data['age'].value_counts()
print(values)
print(values.shape)
least_occurance=values.min()
print(least_occurance)

NameError: name 'data' is not defined