# GroupBy II

In [2]:
import pandas as pd

### Use Case: statistics on Occupations.

In [96]:
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')
users.head()
print(users[['age']]) #mit 2 eckigen Klammern erhält man noch überschrift

         age
user_id
1         24
2         53
3         23
4         24
5         33
...      ...
939       26
940       32
941       20
942       48
943       22

[943 rows x 1 columns]

### Get the mean age per occupation

In [22]:
users[['age','occupation']].groupby('occupation').agg(['mean', 'sum'])

                     age
                    mean   sum
occupation
administrator  38.746835  3061
artist         31.392857   879
doctor         43.571429   305
educator       42.010526  3991
engineer       36.388060  2438
entertainment  29.222222   526
executive      38.718750  1239
healthcare     41.562500   665
homemaker      32.571429   228
lawyer         36.750000   441
librarian      40.000000  2040
marketing      37.615385   978
none           26.555556   239
other          34.523810  3625
programmer     33.121212  2186
retired        63.071429   883
salesman       35.666667   428
scientist      35.548387  1102
student        22.081633  4328
technician     33.148148   895
writer         36.311111  1634

### Get the Male ratio per occupation and sort it from the most to the least

In [ ]:
#print(users['gender'][0:1]=='M')
x=users.loc[users['gender']=='M']

gesamt=x.groupby('occupation')['gender'].value_counts()
#print(gesamt)
gesamt=gesamt/gesamt.sum()*100
print(gesamt)

### For each occupation, calculate the minimum and maximum ages

In [ ]:
users[['age','occupation']].groupby('occupation').agg(['min', 'max']) #durch users am anfang kann man gewisse spalten benutzen

### For each combination of occupation and gender, calculate the mean age

In [ ]:
users.groupby(['occupation','gender']).agg(['mean'])

### [dificult] For each occupation present the percentage of women and men

In [ ]:
users.groupby('occupation')['gender'].value_counts()/670*100